{% extends 'base.html' %}

{% block title %}
InvoSight AI
{% endblock %}

{% block content %}

<section class="hero">

    <div class="hero-content">

        <h1>
            Paperwork In.
            <br>
            <span>Structured Data Out.</span>
        </h1>

        <p>
            Upload invoices and bank statements,
            extract key information using AI,
            visualize insights,
            and export reports effortlessly.
        </p>

        <a href="#" class="hero-btn">
            Get Started
        </a>

    </div>

</section>

{% endblock %}