{% extends "dashboard/base_dashboard.html" %}

{% block dashboard_content %}

<h2>Upload Bank Statement</h2>

<div class="card shadow-sm">

    <div class="card-body">

        <form method="POST" enctype="multipart/form-data">

            {% csrf_token %}

            <input
                type="file"
                class="form-control"
                name="statement">

            <button
                class="btn btn-primary mt-3">

                Upload

            </button>

        </form>

    </div>

</div>

{% endblock %}